<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
  <!-- 설정 -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <typeAliases>
    <typeAlias alias="ProductDto" type="com.mountaintour.mountain.dto.ProductDto"/>
		<typeAlias alias="MountainDto" type="com.mountaintour.mountain.dto.MountainDto"/>
		<typeAlias alias="HeartDto" type="com.mountaintour.mountain.dto.HeartDto"/>
		<typeAlias alias="ImageDto" type="com.mountaintour.mountain.dto.ImageDto"/>
		<typeAlias alias="FaqDto" type="com.mountaintour.mountain.dto.FaqDto"/>
		<typeAlias alias="InquiryDto" type="com.mountaintour.mountain.dto.InquiryDto"/>
		<typeAlias alias="InquiryAnswerDto" type="com.mountaintour.mountain.dto.InquiryAnswerDto"/>
		<typeAlias alias="NoticeDto" type="com.mountaintour.mountain.dto.NoticeDto"/>
		<typeAlias alias="ReserveDto" type="com.mountaintour.mountain.dto.ReserveDto"/>
		<typeAlias alias="PaymentDto" type="com.mountaintour.mountain.dto.PaymentDto"/>
		<typeAlias alias="TouristDto" type="com.mountaintour.mountain.dto.TouristDto"/>
		<typeAlias alias="UserDto" type="com.mountaintour.mountain.dto.UserDto"/>
		<typeAlias alias="MagazineDto" type="com.mountaintour.mountain.dto.MagazineDto"/>
		<typeAlias alias="MagazineMultiDto" type="com.mountaintour.mountain.dto.MagazineMultiDto"/>
		<typeAlias alias="MagazineStarDto" type="com.mountaintour.mountain.dto.MagazineStarDto"/>
		<typeAlias alias="ReviewDto" type="com.mountaintour.mountain.dto.ReviewDto"/>
		<typeAlias alias="LeaveUserDto" type="com.mountaintour.mountain.dto.LeaveUserDto"/>
		
  </typeAliases>

</configuration>