<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mountaintour.mountain.dao.NoticeMapper">

  <select id="getNoticeList" parameterType="Map" resultType="NoticeDto">
    SELECT A.NOTICE_NO, A.TITLE, A.CONTENTS, A.CREATED_AT, A.MODIFIED_AT 
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY NOTICE_NO DESC) AS RN, NOTICE_NO, TITLE, CONTENTS, CREATED_AT, MODIFIED_AT FROM NOTICE_T) A 
     WHERE A.RN BETWEEN #{begin} AND #{end} 
   </select>
   
  <select id="getNotice" parameterType="int" resultType="NoticeDto"> 
    SELECT NOTICE_NO, TITLE, CONTENTS, CREATED_AT, MODIFIED_AT 
      FROM NOTICE_T 
     WHERE NOTICE_NO= #{noticeNo} 
   </select>
   
  <select id="getNoticeCount" resultType="int"> 
    SELECT COUNT(*) 
      FROM NOTICE_T 
   </select>
   
  <insert id="insertNotice" parameterType="NoticeDto"> 
    INSERT INTO NOTICE_T( 
           NOTICE_NO 
         , TITLE 
         , CONTENTS 
         , CREATED_AT 
         , MODIFIED_AT) 
         
         VALUES( 
         NOTICE_SEQ.NEXTVAL 
       , #{title} 
       , #{contents} 
       , TO_CHAR(SYSDATE, 'YYYY-MM-DD') 
       , TO_CHAR(SYSDATE, 'YYYY-MM-DD') 
       ) 
   </insert>
  
  <delete id="deleteNotice" parameterType="int"> 
  DELETE 
    FROM NOTICE_T 
   WHERE NOTICE_NO = #{noticeNo}
  </delete>
 
  <update id="updateNotice" parameterType="NoticeDto"> 
  UPDATE NOTICE_T 
     SET TITLE = #{title} 
   , CONTENTS = #{contents} 
   , CREATED_AT = TO_CHAR(SYSDATE, 'YYYY-MM-DD') 
   , MODIFIED_AT = TO_CHAR(SYSDATE, 'YYYY-MM-DD') 
  WHERE NOTICE_NO = #{noticeNo} 
  </update>
  
  <select id="getSearchCount" parameterType="Map" resultType="int"> 
    SELECT COUNT(*) 
      FROM NOTICE_T 
     WHERE ${column} LIKE '%' || #{query} || '%' 
  </select>
  
  <select id="getSearchList" parameterType="Map" resultType="NoticeDto"> 
    SELECT NOTICE_NO, TITLE, CONTENTS, CREATED_AT, MODIFIED_AT 
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY NOTICE_NO DESC) AS RN, NOTICE_NO, TITLE, CONTENTS, CREATED_AT, MODIFIED_AT FROM NOTICE_T 
             WHERE ${column} LIKE '%' || #{query} || '%') 
     WHERE RN BETWEEN #{begin} AND #{end} 
   </select>
</mapper>