<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mountaintour.mountain.dao.NoticeMapper">

   <select id="getNoticeCount" resultType="int">
     SELECT COUNT(*)
       FROM NOTICE_T
   </select>
	
   <select id="getNoticeList" parameterType="Map" resultType="NoticeDto">
     SELECT A.NOTICE_NO, A.TITLE, A.CONTENTS, A.CREATED_AT, A.MODIFIED_AT, A.HIT
       FROM (SELECT ROW_NUMBER() OVER(ORDER BY NOTICE_NO DESC) AS RN, NOTICE_NO, TITLE, CONTENTS, CREATED_AT, MODIFIED_AT, HIT
               FROM NOTICE_T) A
       WHERE A.RN BETWEEN #{begin} AND #{end}
   </select>
   
   <select id ="getNotice" parameterType="int" resultType="NoticeDto">
     SELECT NOTICE_NO, TITLE, CONTENTS, CREATED_AT, MODIFIED_AT, HIT
       FROM NOTICE_T 
      WHERE NOTICE_NO= #{noticeNo}
   </select>
   
   
   
   
   
   
   <insert id="insertNotice" parameterType="NoticeDto">
    <selectKey order="BEFORE" keyProperty="noticeNo" resultType="int">
      SELECT NOTICE_SEQ.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT INTO NOTICE_T(
        NOTICE_NO
      , TITLE
      , CONTENTS
      , CREATED_AT
      , MODIFIED_AT
    ) VALUES(
        #{noticeNo}
      , #{title}
      , #{contents}
      , TO_DATE(SYSDATE, 'YYYY-MM-DD HH:MI:SS')
      , TO_DATE(SYSDATE, 'YYYY-MM-DD HH:MI:SS')
    )
  </insert>
   
  <delete id="deleteNotice" parameterType="int">
    DELETE
      FROM NOTICE_T
     WHERE NOTICE_NO = #{noticeNo}
  </delete> 
  
  
  <update id="updateNotice" parameterType="NoticeDto">
    UPDATE NOTICE_T
       SET TITLE = #{title}
         , CONTENTS = #{contents}
         , MODIFIED_AT = TO_DATE(SYSDATE, 'YYYY-MM-DD HH:MI:SS')
     WHERE NOTICE_NO = #{noticeNo}     
  </update> 
   
   

</mapper>