<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.mountaintour.mountain.dao.ProductMapper">
  
  <resultMap type="ProductDto"        id="ProductMap">
    <id      column="PRODUCT_NO"      property="productNo"/>
    <result  column="TRIP_NAME"   	  property="tripName"/>
    <result  column="TRIP_CONTENTS"   property="tripContents"/>
    <result  column="GUIDE" 		  property="guide"/>
    <result  column="TIMETAKEN" 	  property="timetaken"/>
    <result  column="PRICE" 		  property="price"/>
    <result  column="DANGER"		  property="danger"/>
    <result  column="REGISTERED_AT"   property="registeredAt"/>
    <result  column="MODIFIED_DATE"   property="modifiedDate"/>
    <result  column="PEOPLE" 		  property="people"/>
    <result  column="HIT" 		  	  property="hit"/>
    <result  column="PLAN" 		      property="plan"/>
    <result  column="TERM_USE"		  property="termUse"/>
    <association javaType="MountainDto"      property="mountainDto">
      <id 	  	 column="MOUNTAIN_NO"      	 property="mountainNo"/>
      <result    column="MOUNTAIN_NAME"      property="mountainName"/>
      <result    column="IMPORMATION"        property="impormation" />
      <result    column="LOCATION"           property="location" />
    </association>
    <association javaType="ImageDto"         property="imageDto">
        <result  column="IMAGE_PATH" 		 property="imagePath" />
        <result  column="FILESYSTEM_NAME" 	 property="filesystemName"/>
        <result  column="THUMBNAIL" 		 property="thumbnail"/>  
    </association>
  </resultMap>

  <insert id="insertProduct" parameterType="ProductDto">
    <selectKey order="BEFORE" keyProperty="productNo" resultType="int">
        SELECT PRODUCT_SEQ.NEXTVAL 
          FROM DUAL
    </selectKey>
    INSERT INTO PRODUCT_T (
        PRODUCT_NO, 
        USER_NO, 
        MOUNTAIN_NO, 
        TRIP_NAME, 
        TRIP_CONTENTS, 
        GUIDE, 
        TIMETAKEN,
        PRICE, 
        DANGER, 
        REGISTERED_AT, 
        MODIFIED_DATE,    
        PLAN, 
        TERM_USE
    ) VALUES (
        #{productNo}, 
        #{userNo}, 
        #{mountainDto.mountainNo}, 
        #{tripName}, 
        #{tripContents},
        #{guide}, 
        #{timetaken},
        #{price}, 
        #{danger}, 
        SYSDATE,
        SYSDATE,   
        #{plan},  
        #{termUse}
    )
</insert>                                                                                                            

  <insert id="insertThumbnail" parameterType="ImageDto">
    INSERT INTO IMAGE_T (
        IMAGE_PATH
      , FILESYSTEM_NAME
      , THUMBNAIL
      , PRODUCT_NO
    ) VALUES (
        #{imagePath}
      , #{filesystemName}
      , #{thumbnail}
      , #{productNo}
    )
  </insert>


  <insert id="insertProductImage" parameterType="ImageDto">
    INSERT INTO IMAGE_T (
        IMAGE_PATH
      , FILESYSTEM_NAME
      , PRODUCT_NO
    ) VALUES (
        #{imagePath}
      , #{filesystemName}
      , #{productNo}
    )
  </insert>
  
  <select id="getThumbnail" parameterType="int" resultType="ImageDto">
    SELECT IMAGE_PATH, FILESYSTEM_NAME, THUMBNAIL, PRODUCT_NO
      FROM IMAGE_T
     WHERE PRODUCT_NO = #{productNo}
  </select>
  
  
  <select id="getProductImageInYesterday" resultType="ImageDto">
    SELECT IMAGE_PATH
      	 , FILESYSTEM_NAME
     	 , PRODUCT_NO
      FROM IMAGE_T
     WHERE IMAGE_PATH = '/product/' || TO_CHAR(SYSDATE - 1, 'YYYY/MM/DD')
  </select>
  
  <select id="getProductCount" resultType="int">
    SELECT COUNT(*)
      FROM PRODUCT_T
  </select>
  
  <select id="getProductList" parameterType="Map" resultMap="ProductMap">
   SELECT
        PRODUCT_NO,
        USER_NO,
        MOUNTAIN_NO,
        TRIP_NAME,
        TRIP_CONTENTS,
        GUIDE,
        TIMETAKEN,
        PRICE,
        DANGER,
        REGISTERED_AT,
        MODIFIED_DATE,
        PEOPLE,
        HIT,
        PLAN,
        STATUS,
        TERM_USE,
        MOUNTAIN_NAME,
        IMPORMATION,
        LOCATION,
        IMAGE_PATH,
        FILESYSTEM_NAME,
        THUMBNAIL
    FROM (SELECT ROW_NUMBER() OVER(ORDER BY P.PRODUCT_NO DESC) AS RN, 
            P.PRODUCT_NO,
            P.USER_NO,
            M.MOUNTAIN_NO,
            P.TRIP_NAME,
            P.TRIP_CONTENTS,
            P.GUIDE,
            P.TIMETAKEN,
            P.PRICE,
            P.DANGER,
            P.REGISTERED_AT,
            P.MODIFIED_DATE,
            P.PEOPLE,
            P.HIT,
            P.PLAN,
            P.STATUS,
            P.TERM_USE,
            M.MOUNTAIN_NAME,
            M.IMPORMATION,
            M.LOCATION,
            I.IMAGE_PATH,
            I.FILESYSTEM_NAME,
            I.THUMBNAIL 
            FROM PRODUCT_T P JOIN MOUNTAIN_T M ON P.MOUNTAIN_NO = M.MOUNTAIN_NO
            LEFT JOIN IMAGE_T I ON P.PRODUCT_NO = I.PRODUCT_NO)
            WHERE RN BETWEEN #{begin} AND #{end}
</select>

  
  <select id="getProduct" parameterType="int" resultMap="ProductMap">
    SELECT P.PRODUCT_NO, P.TRIP_NAME, P.TRIP_CONTENTS, P.GUIDE, P.TIMETAKEN, P.PRICE, P.DANGER, P.REGISTERED_AT, P.MODIFIED_DATE
    , P.PEOPLE, P.HIT, P.PLAN, P.STATUS, P.TERM_USE, M.MOUNTAIN_NO, M.MOUNTAIN_NAME, M.IMPORMATION, M.LOCATION
      FROM PRODUCT_T P, MOUNTAIN_T M
     WHERE P.MOUNTAIN_NO = M.MOUNTAIN_NO
       AND P.PRODUCT_NO = #{productNo}
  </select>  
  
  <update id="productHit" parameterType="int">
    UPDATE PRODUCT_T
       SET HIT = HIT + 1
     WHERE PRODUCT_NO = #{productNo}  
  </update>
  
  <update id="updateProduct" parameterType="ProductDto">
    UPDATE PRODUCT_T
       SET TRIP_NAME = #{tripName}
         , TRIP_CONTENTS = #{tripContents}
         , GUIDE = #{guide} 
         , TIMETAKEN = #{timetaken}
         , PRICE = #{price}
         , DANGER = #{danger} 
         , REGISTERED_AT = SYSDATE
         , MODIFIED_DATE = SYSDATE
         , PLAN = #{plan} 
         , STATUS = #{status}
         , TERM_USE = #{termUse}
     WHERE PRODUCT_NO = #{productNo}  
  </update>
  
  <select id="getProductImageList" parameterType="int" resultType="ImageDto">
    SELECT PRODUCT_NO, IMAGE_PATH, FILESYSTEM_NAME, THUMBNAIL 
      FROM IMAGE_T
     WHERE PRODUCT_NO = #{productNo}  
  </select>

  <delete id="deleteProductImage" parameterType="String">
    DELETE
      FROM IMAGE_T
     WHERE FILESYSTEM_NAME = #{filesystemName}
  </delete>

  <delete id="deleteProductImageList" parameterType="int">
    DELETE
      FROM IMAGE_T
     WHERE PRODUCT_NO = #{productNo}
  </delete>
  
  <delete id="deleteProduct" parameterType="int">
     DELETE 
       FROM PRODUCT_T 
      WHERE PRODUCT_NO = #{productNo}
  </delete>
  
</mapper>