<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.mountaintour.mountain.dao.productMapper">
  
  <insert id="insertProduct" parameterType="ProductDto">
  	INSERT INTO PRODUCT_T (
  			PRODUCT_NO, 
  			USER_NO, 
  			MOUNTAIN_NO, 
  			TRIP_NAME, 
  			TRIP_CONTENTS, 
  			GUIDE, 
  			TIMETAKEN,
            PRIZE, 
            DANGER, 
            REGISTERED_AT, 
            MODIFIED_DATE, 
            PEOPLE,
            HIT,   
            PLAN,
            STATUS, 
            TERM_USE
        	) VALUES (
        	 PRODUCT_SEQ.NEXTVAL, 
        	#{userNo}, 
        	#{mountainNo}, 
        	#{tripName}, 
        	#{tripContents},
            #{guide}, 
            #{timeTaken},
            #{prize}, 
            #{danger}, 
             SYSDATE, 
             SYSDATE, 
            #{people},
            #{hit},  
            #{plan},
            #{status},
            #{termUse}
      )
  </insert>                                                                                                                  

  <insert id="insertImage" parameterType="ImageDto">
    INSERT INTO IMAGE_T (
        IMAGE_PATH
      , FILESYSTEM_NAME
      , THUMBNAIL
      , PRODUCT_NO
    ) VALUES (
        #{imagePath}
      , #{filesystemName}
      , #{thumbnail}
      , #{productNo}
    )
  </insert>

  <select id="getProductNo" resultType="ProductDto">
  	SELECT PRODUCT_NO
      FROM PRODUCT_T
  </select>

  <select id="getProduct" parameterType="int" resultType="ProductDto">
    SELECT PRODUCT_NO, USER_NO, MOUNTAIN_NO, TRIP_NAME, TRIP_CONTENTS, GUIDE, TIMETAKEN,PRIZE, DANGER, REGISTERED_AT, MODIFIED_DATE, PEOPLE,  THUMBNAIL, PLAN, TERM_USE
      FROM PRODUCT_T
     WHERE PRODUCT_NO = #{productNo}
  </select>

  <update id="updateProduct" parameterType="int">
     UPDATE PRODUCT_T 
        SET TRIP_NAME = #{tripName},
            TRIP_CONTENTS = #{tripContents}, 
            GUIDE = #{guide}, 
            TIMETAKEN = #{timeTaken}, 
            PRIZE = #{prize},
            DANGER = #{danger}, 
            REGISTERED_AT = #{registeredAt}, 
            MODIFIED_DATE = #{modifiedDate},  
            THUMBNAIL = #{thumbnail}, 
            PLAN = #{plan}, 
            STATUS = #{status},
            TERM_USE = #{termUse}
      WHERE PRODUCT_NO = #{productNo}
  </update>
  
  
  
  
  
  
  
  
  
  
  
  <delete id="deleteProduct" parameterType="int">
     DELETE 
       FROM PRODUCT_T 
      WHERE PRODUCT_NO = #{productNo}
  </delete>
  
</mapper>