@charset "UTF-8";

@import url('https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css')
.header_wrap {
 
}

.banner {
  width: 320px;
  height: 150px;
  background-image: url(../../resources/image/logo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 50px auto;
  margin-top: 15px;
  margin-bottom: 0;
}

.div_login {
  margin-right: 50px;
  font-size: 18px;
  font-style: gray;
}
.banner_login {
	margin-right: 20px; 
}
span > a {
	color : gray;
	font-weight: 600;
}


.hr {
  margin: 0px;
}
.color {
  background-color: white;
}
.nav-item{
  padding: 0 15px 0 15px;
}
.collapse {
  text-align: center;
}
.nav-item {
  font-size: 22px; 
}